.panel-header-lg {
    height: 380px;
}

.panel-header {
    height: 260px;
    padding-top: 80px;
    padding-bottom: 45px;
    position: relative;
    background: #2c2c2c;
    background: linear-gradient(160deg, #2c2c2c 0%, #1f1f1f 100%);
    background-size: 105%;
}
.panel-header-lg {
    height: 380px;
}
.panel-header {
    height: 260px;
    padding-top: 80px;
    padding-bottom: 45px;
    background: #141E30;
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
    position: relative;
    overflow: hidden;
}