<!DOCTYPE html> 
<html> 
  
<head> 
    <title>Home Page</title> 
      
    <style type="text/css" media="screen"> 
        body { 
            background-color: skyblue; 
            text-decoration-color: white; 
            font-size:2em;  
        } 
    </style> 
</head> 
  
<body> 
    <center><%=title%></center> 
</body> 
  
</html> 