.logo{
    .logo-img{
        width: 45px;
        display: inline-block;
    }
    .logo-title{
        vertical-align: sub;
        font-weight: 700;
        font-size: 19px;
        color: #fff;
        text-shadow: 1px 1px 1px #333;
    }
}