.App {
  position: relative;
  top: 0;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  
  $width-margin: 245px;
  .pages{
    width: 100%;
    margin-left: $width-margin;
    min-height: 100vh;
    transition: margin 1s cubic-bezier(0.25, 0.46, 0.45, 0.94), width 0.4s linear;
    background: #f1f1f1;
  }

  .pages.smooth{
    width: calc(100% - #{$width-margin});
  }
  
  &.fullscreen .pages{
    margin-left:0px;
  }
}