.menu-left-container{
    height: 100%;
    width: 225px;
    background-color: #FF5722;
    position: absolute;
    top: 0;
    transform: translateX(0%);
    transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    padding: 0px 10px;
    z-index: 1;

    .fullscreen &{
        transform: translateX(-100%);
    }

    .menu-left-header{
        border-bottom: 1px solid #ff8f6c;
        display: flex;
        padding-top: 7px;

        .title, img {
            margin: auto 0;
        }
    
        img{
            width: 50px;
            padding: 6px;
        }
    
        .title{
            color: #fff;
            font-size: 28px;
            font-weight: bolder;
            position: relative;
            left: -12px;
            top: 8px;
        }
    }

    .menu-left-link{
        transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        display: block;
        margin: 10px;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        padding: 0px 5px;
        border-bottom: 1px solid #ff6939;
        cursor: pointer;

        &.selected-link{
            background: #ff784d;
            border-radius: 8px;
        }
        &:hover{
            background: #ff8f6c;
            border-radius: 25px;
        }
        & .menu-icon{
            font-family: Font Awesome\ 5 Free;
            font-weight: 600;
            font-size: 26px;
            color: #ffc5b2;
            padding: 10px;
            vertical-align: sub;
            transition: color 0.7s ease-in-out;
        }
        &:hover .menu-icon{
            color: #fff;
        }
    }

    .fullscreen & .hide-show-menu{
        right: -43px;
        background: #FF572200;
        box-shadow: 1px 1px 4px #bfbfbf;
    }
    & .hide-show-menu{
        background: #FF5722;
        position: absolute;
        border-radius: 5px;
        box-shadow: 2px 2px 4px #444;
        color: #fff;
        top: 3px;
        cursor: pointer;
        right: -19px;
        transition: all 1s ease-out;
    }

    @media (max-width: 700px){
        &{
            background-color: rgb(255, 110, 66);
        }
        & .hide-show-menu{
            background-color: rgb(255, 110, 66);
        }
    }
}

/**
    Hamburger Icon
*/
.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 6px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 21px;
}
.hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s linear .13s;
}
.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
}
.hamburger--spring .hamburger-inner:before {
    top: 10px;
    transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
}
.hamburger-inner:before {
    top: -10px;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    width: 28px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #fff;
}
.hamburger--spring .hamburger-inner:after {
    top: 20px;
    transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
}
.hamburger-inner:after {
    bottom: -10px;
}
.hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: "";
}
.hamburger--spring.is-active .hamburger-inner:before {
    top: 0;
    transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
    transform: translate3d(0,10px,0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner {
    transition-delay: .22s;
    background-color: transparent!important;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
    background-color: #fff;
}
.hamburger--spring.is-active .hamburger-inner:after {
    top: 0;
    transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
    transform: translate3d(0,10px,0) rotate(-45deg);
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
    background-color: #fff;
}
